.detail-header1{
    display: flex;
    margin: 4rem 0 0 0;
    width: 75%;
}
.detail-header-txt1{
    margin: 0.6rem 0 0 5rem;
    width: 22rem;
    height: 22rem;
}
.reviews{
    width: 40rem;
    height: 25rem;
    margin: 0 0 5rem 0;
}
.review1{
    margin: 10rem 1rem;
    font-family: 'Tangerine';
    background-color: #3d1212;
    display: flex;
    justify-content: center;
    border: 2px solid white;
    border-radius: 10rem;
}

@media(max-width: 500px){
    .detail-header1{
        flex-direction: column;
        align-items: center;
    }
    .detail-header-txt1{
        margin: 3rem 0 0 0rem;
    }
}